.calc-button-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex: 1;
    
    .clear-btn,
    .operator-btn,
    .number-btn,
    .equal-btn {
        font-size: 48px;
        text-align: center;
    }
    
    .clear-btn {
        color: $redColor;
    }
    
    .operator-btn {
        color: $blueColor;
    }
    
    .number-btn {
        color: $blackColor;
    }
    
    .equal-btn {
        color: $whiteColor;
        background-color: $blueColor;
    }
}