.calc-result-box {
    height: 141px;
    margin: 20px 22px 0 22px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    .last-expression-box {
        position: absolute;
        top: 10px;
        right: 26px;

        .last-expression {
            all : unset;
            color: #BDC3C7;
            text-align: right;
            padding-right: 3px;

            &::selection {
                background: none;
                text-shadow: none;
            }
        }
    }

    .calc-input-box {
        width: 100%;
        padding: 36px 25px 41px 25px;

        .calc-result-input {
            width: 100% !important;
            height: 100%;
            all : unset;
            text-align: right;
            color: transparent;
            text-shadow: 0 0 0 #454552;
            font-size: 48px;
        }
    }

    .btn-box {
        width: 128px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        margin-left: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        
        .common-btn {
            all: unset;
            color: $navyColor;
            font-size: 14px;
        }
    }
}